.posts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
  margin-top: -2.5rem;
  padding: 0 6vw 3.625rem;
  position: relative;
}

.semPosts {
  padding: 3.625rem 6vw;
}
.semPosts p {
  background: #f8d7da;
  border: 1px solid #f1aeb5;
  border-radius: 0.5rem;
  color: #58151c;
  display: block;
  font: 700 1.5rem var(--fonte-secundaria);
  padding: 2rem;
}

@media (max-width: 1100px) {
  .posts {
    margin-top: 0;
    padding: 2rem 1.5rem 3.625rem;
  }
}

@media (max-width: 744px) {
  .posts {
    padding: 2rem 1rem 3rem;
  }
}
