.banner {
  align-items: center;
  background-color: var(--azul-escuro);
  color: var(--branco);
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 3rem 10rem 7rem;
  position: relative;
}

.banner_apresentacao {
  flex: 1;
}

.banner_titulo {
  font-family: var(--fonte-secundaria);
  font-size: 4rem;
  margin-bottom: 1rem;
}

.banner_subtitulo {
  font-family: var(--fonte-secundaria);
  font-size: 2rem;
  margin-bottom: 2rem;
}

.banner_texto {
  font-family: var(--fonte-secundaria);
  font-size: 1.5rem;
  line-height: 2rem;
}

.banner_imagens {
  flex: 1;
  height: 500px;
  position: relative;
}

.banner_imagens > .minhaFoto {
  border-radius: 50%;
  bottom: -3vh;
  position: absolute;
  right: 0vw;
  width: 16vw;
}

.banner_imagens > .circuloColorido {
  bottom: 0vw;
  position: absolute;
  right: 10vw;
  width: 25vw;
}

@media (max-width: 1600px) {
  .banner_imagens > .minhaFoto {
    bottom: -2vh;
    width: 20vw;
  }

  .banner_imagens > .circuloColorido {
    right: 10vw;
    width: 30vw;
  }
}

@media (max-width: 1450px) {
  .banner_imagens > .minhaFoto {
    bottom: -2vh;
    width: 20vw;
  }

  .banner_imagens > .circuloColorido {
    bottom: 4vh;
    right: 10vw;
    width: 30vw;
  }
}

@media (max-width: 1300px) {
  .banner_apresentacao {
    padding-right: 20px;
  }

  .banner_imagens > .minhaFoto {
    bottom: 0;
    width: 20vw;
  }

  .banner_imagens > .circuloColorido {
    bottom: auto;
    top: 0;
    right: auto;
    left: 0;
    width: 30vw;
  }
}

@media (max-width: 1100px) {
  .banner {
    padding: 3.5rem 1.5rem;
  }

  .banner_titulo {
    margin-top: 0;
    margin-bottom: 0.5rem;
  }

  .banner_subtitulo {
    margin-top: 1;
    margin-bottom: 1.5rem;
  }

  .banner_texto {
    margin-bottom: 1.5rem;
  }

  .banner_imagens {
    height: 420px;
  }

  .banner_imagens > .minhaFoto {
    width: 25vw;
  }

  .banner_imagens > .circuloColorido {
    right: 10vw;
    width: 35vw;
  }
}

@media (max-width: 770px) {
  .banner {
    padding: 2rem;
    display: block;
  }

  .banner_apresentacao {
    padding: 0;
    text-align: center;
  }

  .banner_titulo {
    font-size: 3rem;
    line-height: 4rem;
    margin: 0;
  }

  .banner_subtitulo {
    line-height: 2rem;
    margin-bottom: 1.75rem;
  }

  .banner_texto {
    margin-bottom: 2rem;
  }

  .banner_imagens {
    height: 307px;
  }

  .banner_imagens > .minhaFoto,
  .banner_imagens > .circuloColorido {
    left: 0;
    right: 0;
    margin: 0 auto;
  }

  .banner_imagens > .minhaFoto {
    width: 200px;
    transform: translate(4rem, 0px);
  }

  .banner_imagens > .circuloColorido {
    width: 280px;
    transform: translate(-1.5rem, 0px);
  }
}
